<div class="registration-container">
    <div class="registration-form">
      <h2>Update profile</h2>
      <form (ngSubmit)="update()" class="form-two-columns">
        <div class="form-column">
          <!-- First Column -->
          <div class="form-group">
            <label for="name">First name</label>
            <input type="text" id="name" name="name" placeholder={{userProfile.firstName}} [(ngModel)]="userProfile.firstName" required>
          </div>
  
          <div class="form-group">
            <label for="chipNumber">Last name</label>
            <input type="text" id="chipNumber" name="chipNumber" [(ngModel)]="userProfile.lastName" required>
          </div>

          <div class="form-group">
            <label for="description">Email</label>
            <input type="text" id="description" name="description" [(ngModel)]="userProfile.email" required disabled="true">
          </div>
<!--   
          <div class="form-group">
            <label for="location">Password</label>
            <input type="text" id="location" name="location"[(ngModel)]="userProfile.password" required>
          </div> -->
  
  
          <div class="form-group">
            <label for="dateOfBirth" class="form-label">Date of birth:</label>
            <input type="text" id="dateOfBirth" name="dateOfBirth" placeholder={{dob}} disabled="true">
          </div>

  
          <button type="submit" class="btn-register">Update</button>
        </div>
      </form>
    </div>
  </div>
  