* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .profiles-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
  }

  .profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }

  .profile-card {
    border: 2px solid #26a69a;
    background-color: #b2dfdb;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .profile-card:hover {
    transform: scale(1.03);
  }
  
  .profile-card h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #009688;
  }
  
  .profile-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }


  .view-profile-button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-profile-button:hover {
    background-color: #00796b;
  }

  .profile-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
      