<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="" style="color:white;">Animal adoption</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
         <a class="nav-link" routerLink="/register-user">Sign up</a>
      </li>
      <li class="nav-item active">
         <a class="nav-link" routerLink="/unadopted-animals">For adoption</a>
      </li>
      <li class="nav-item active">
         <a class="nav-link" routerLink="/adopted-animals">Adopted animals</a>
      </li>
      <li *ngIf="loggedUserJwt !== null" class="nav-item active">
         <a class="nav-link" routerLink="/subscribed-animals">Subscriptions</a>
      </li>
      <li *ngIf="loggedUserJwt === null" class="nav-item active">
         <a class="nav-link" routerLink="/login-user">Login</a>
      </li>
      <li *ngIf="loggedUserJwt !== null" class="nav-item active"(click)="logout()">
       <a class="nav-link" routerLink="/login-user">Logout</a>
      
     </ul>
  </div>
</nav>
<router-outlet></router-outlet>
