.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('src\assets\images\background-photo.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }
  
  
  .form-two-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 1;
    padding-right: 20px;
  }
  
  .registration-form {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  .btn-register {
    background-color: #FF9800;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: #F57C00;
  }

  .btn-add-animal-type {
    background-color: #FF9800;
    color: #fff;
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
  }
  
  .btn-add-animal-type {
    background-color: #F57C00;
  }
  
  /* Dropdown Button */
.dropbtn {
  background-color: #FF9800;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 280px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F57C00;}