<div class="registration-container">
    <div class="registration-form">
      <h2>Sign in</h2>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="vet.email" required>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password"  [(ngModel)]="vet.password" required>
        </div>

        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" name="firstName" placeholder="Enter your first name"  [(ngModel)]="vet.firstName" required>
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input type="text" id="lastName" name="lastName" placeholder="Enter your last name"  [(ngModel)]="vet.lastName" required>
        </div>

        <div class="form-group">
          <label for="dateOfBirth" class="form-label">Date of birth</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="vet.dateOfBirth" max="{{getDate()}}">
      </div>
        
        <button type="submit" class="btn-register">Register</button>
      </form>
    </div>
  </div>
  