<body>
  <div class="profile-container">
    <button *ngIf="selectedAnimalProfile.subscription == false" (click)="subscribe()">Subscribe</button>
    <button *ngIf="selectedAnimalProfile.subscription == true" style="background-color: #FF9800;" (click)="unsubscribe()">Unscubscribe</button>
    <button *ngIf="animalAdopted == 'false' && userIsAdmin == 'false'" (click)="adopt()">I want to adopt this animal</button>
     
        <div class="profile-header">
      <h1>{{selectedAnimalProfile.name}}</h1>
    </div>
    <div class="profile-content">
      <div class="profile-details">
        <!-- <h2 id="name">{{selectedAnimalProfile.name}}</h2> -->
        <p>Date of Birth: {{selectedAnimalProfile.dateOfBirth}}</p>
        <p>Location: {{selectedAnimalProfile.location}}</p>
        <p>Size: {{selectedAnimalProfile.size}}</p>
        <p>Is sterilized?: {{selectedAnimalProfile.sterilized}}</p>
        <p>Description: {{selectedAnimalProfile.description}}</p>
      </div>
      <div class="profile-pictures">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <img class="profile-picture" src="animal-pic1.jpg" alt="Animal Picture 1">
        <!-- Repeat the <img> tags for your images -->
      </div>
    </div>
    <button *ngIf="userIsAdmin == 'true'" style="background-color: #FF9800;" (click)="delete(selectedAnimalProfile.animalId)">Delete animal profile</button>
    <button *ngIf="animalSterilized == 'false' && userIsVet == 'true'" style="background-color: #FF9800;" (click)="animalIsSterilized()">Animal is sterilized</button>
    <button *ngIf="userIsVet == 'true'" style="background-color: #FF9800;" (click)="animalVaccinesPage()">Show vaccine history</button>
    <button *ngIf="animalAdopted == 'false' && userIsAdmin == 'true'" style="background-color: #FF9800;" (click)="adoptionRequestPage()">See adoption requests</button>

  </div>

</body>
