<div class="registration-container">
    <div class="registration-form">
      <h2>Change password</h2>
      <form (ngSubmit)="update()" class="form-two-columns">
        <div class="form-column">
          <!-- First Column -->
          <div class="form-group">
            <label for="name">Old password</label>
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
          </div>
  
          <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
          </div>

          <div class="form-group">
            <label for="newPassword">Confirm new password</label>
            <input type="password" id="newPassword2" name="newPassword2" [(ngModel)]="newPasswordRepeat" required >
          </div>

  
          <button type="submit" class="btn-register">Change</button>
        </div>
      </form>
    </div>
  </div>
  