 body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .profiles-container {
    display: flex;
    justify-content: center;
    background-color: #fbf5ca;
    padding: 20px;
  }

  .profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }

  .profile-card {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .profile-card h3 {
    font-size: 20px;
    margin: 10px 0;
  }

  .profile-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }

  .subscription-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 7px 12px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .subscription-button:hover {
    background-color: #ff4f4f;
  }
  
  .view-profile-button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 7px 12px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .view-profile-button:hover {
    background-color: #FF9800;
  }

  
  .profile-pictures {
    display: flex;
    flex-wrap: wrap; /* Wrap images to the next line if there are more than 4 */
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }