<body>
    <div class="profiles-container">
      <div *ngIf="userIsAdmin == 'true'" class="profile-list">
        <div class="no-requests-sign" *ngIf="adoptionRequests.length === 0"><h1>No requests yet</h1></div>
        <div class="profile-card" *ngFor="let user of adoptionRequests">
            <div>
              <button class="approve-button" (click)="adminApprove(user.userId)">Approve this adopter</button>
              <button class="reject-button" (click)="adminReject(user.userId)">Reject this adopter</button>
            </div>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <p>Date of birth: {{user.dob}}</p>
            <div>
              Email: {{user.email}}
            </div>
            <div>
              Phone number: {{user.phoneNumber}}
            </div>
              
          </div>
    
      </div>
      <div *ngIf="userIsVet == 'true'" class="profile-list">
      <div class="no-requests-sign" *ngIf="adoptionRequestsApprovedByAdmin.length === 0"><h1>No requests yet</h1></div>
        <div class="profile-card" *ngFor="let user of adoptionRequestsApprovedByAdmin">
          <div>
            <button class="approve-button"  (click)="vetApprove(user.userId)">Confirm adoption</button>
            <button class="reject-button" (click)="vetReject(user.userId)">Reject this adopter</button>
          </div>
          <h3>{{user.firstName}} {{user.lastName}}</h3>
          <p>Age: {{user.dob}}</p>
          <div>
            Email: {{user.email}}
          </div>
          <div>
            Phone number: {{user.phoneNumber}}
          </div>
        </div>
  
    </div>
    </div>
</body>