* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dfebe9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profiles-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.profile-card {
  border: 2px solid #26a69a;
  background-color: #b2dfdb;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 5px);
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: scale(1.03);
}

.profile-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.profile-card p {
  font-size: 14px;
  color: #000;
  margin: 5px 0;
}

.profile-card div {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add margin for spacing */
}

.approve-button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px; /* Add margin between buttons */
}

.approve-button:hover {
  background-color: #00796b;
}

.reject-button {
  background-color: #C84F0C;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px; /* Add margin between buttons */
}

.reject-button:hover {
  background-color: #BC3908;
}

.no-requests-sign{
  text-align: center;
  padding-left: 250px;
}
