<body>
    <div class="profiles-container">
      <div class="profile-list">
          <div class="profile-card" *ngFor="let user of adoptionRequests">
            <div>
              <button style="background-color: #ff4f4f;" (click)="adminApprove(user.userId)">Approve this adopter</button>
            </div>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <p>Age: {{user.dateOfBirth}}</p>
              <div>
                Email: {{user.email}}
              </div>
              <div>
                <button>Send email!!</button>
              </div>
              
          </div>
    
      </div>
    </div>
</body>