.profiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /*background-image: url('background-image.jpg'); Replace with your image path */
    background-size: cover;
    background-position: center;
    background-color: #fbf5ca;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #52523c;
  }
  
  .profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
  }
  
  .profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-card h3 {
    font-size: 20px;
    margin-bottom: 6px;
  }
  
  .profile-card p {
    font-size: 14px;
    color: #555;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .profile-card {
      width: 100%;
    }
  }
  