<body>
  <div class="profiles-container">
    <div class="search-container">
      <input class="search-input" [(ngModel)]="searchInput" placeholder="Search by name or location">
      <button class="search-button" (click)="search()">Search</button>
    </div>
    <div class="profile-list">
      <div class="profile-card" *ngFor="let animal of adoptedAnimalsWithSubscription">
        <div class="profile-pictures">
          <img class="profile-picture clickable" [src]="animal.photoURL" alt="No photos">
        </div>
        <h3>{{animal.name}}</h3>
        <p>Date of birth: {{animal.dob}}</p>
        <div>Gender: {{animal.gender}}</div>
        <div>Location: {{animal.location}}</div>
        <div>Size: {{animal.size}}</div>
        <button *ngIf="animal.subscription == false"  class="subscribe-button" (click)="subscribe(animal.animalId)">Subscribe</button>
        <button *ngIf="animal.subscription == true" class="unsubscribe-button" (click)="unsubscribe(animal.animalId)">Unsubscribe</button>
        <div><br><button class="view-profile-button" (click)="read(animal.animalId)">View animal profile</button></div>
      </div>
    </div>
  </div>
</body>